<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Ad Groups</h1>
    <%= link_to 'Back to campaigns', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Id
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Name
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Default Bid
          </th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <%= render @ad_groups %>
      </tbody>
    </table>
  </div>
</div>
